cmake-build-debug
dist
build
.idea/*
!.idea/.name
!.idea/icon.png
!.idea/externalDependencies.xml
.vscode/*
!.vscode/extensions.json
.env
venv
.venv
CMakeUserPresets.json
conan_provider.cmake
.DS_Store
